/* ============================== GENERAL STYLES ===============================*/
:root{
    --font-subtitle: 'Open Sans', sans-serif;
    --color-text: white;
    --color-blue: rgb(108, 108, 243);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.ss-title,
.ts-title,
.fhs-title,
.ffs-title,
.sxs-title{
    font-family: var(--font-subtitle);
    text-align: center;
}

.view-more{
    display: flex;
    text-align: center;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: blue;
    margin: 20px auto;
    line-height: 1.5;
    border-radius: 15px;
}

.view-more:hover{
    background-color: var(--color-blue);
}

/* =============================== HEADER STYLES ===============================*/
.first-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(5,7,12, 0.85), rgba(5,7,12, 0.85)), url(../img/banner6.jpg) no-repeat center;
    background-size: cover;
    color: var(--color-text);
    gap: 25px;
}

.fs-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.fs-title{
    font-family: 'Boldonse', system-ui;
}

.fs-subtitle{
    font-family: var(--font-subtitle);
    font-style: italic;
    font-size: 25px;
    color: var(--color-blue);
}

.fs-contact{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.fs-icon{
    width: 40px;
    height: 40px;
}

.fs-icon:hover{
    color: var(--color-blue);
}

#email:hover,
#email2:hover{
    cursor: pointer;
    color: var(--color-blue);
}

/* ============================== ABOUT-ME STYLES ==============================*/
.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
    padding: 20px 10px 20px 20px;
    width: 1000px;
}

/* ============================ TECHNOLOGIES STYLES ============================*/
.third-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: 15px auto;
    padding: 20px;
}

.ts-title{
    margin-bottom: 10px;
}

.ts-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.ts-icon{
    width: 100px;
    height: 100px;
}

/* ============================== PROJECTS STYLES ==============================*/
.fourth-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: 15px auto;
    padding: 20px;
}

.fhs-title{
    margin-bottom: 10px;
}

.fhs-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fhs-item{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid blue;
    width: 1000px;
    border-radius: 20px;
    padding: 20px;
}

.item-d1{
    display: flex;
    justify-content: end;
}

.item-d2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70%;
}

.item-text{
    width: 550px;
}

.item-img{
    display: flex;
    height: auto;
    border-radius: 20px;
    border: 1px solid black;
    width: 400px;
    height: 200px;
}

.item-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-icon{
    width: 40px;
    height: 40px;
}

.item-anchors{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: auto;
    gap: 30px;
}

.anchor-btn{
    display: flex;
    text-align: center;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 15px;
}

.yt{
    background-color: red;
}

.yt:hover{
    background-color: rgb(244, 102, 102);
}

.gt{
    background-color: black;
}

.gt:hover{
    background-color: rgb(99, 99, 99);
}

/* ============================== EXPERIENCE STYLES ============================*/
.fifth-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: 15px auto;
    padding: 20px;
    gap: 25px;
}

.ffs-title{
    margin-bottom: 10px;
}

.ffs-item{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}

.item-exp-date{
    font-style: italic;
    color: #1919aa;
}

.item-exp-list{
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding-left: 40px;
}

/* ============================== EDUCATION STYLES =============================*/
.sixth-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: 15px auto;
    padding: 20px;
}

.sxs-title{
    margin-bottom: 15px;
}

.sxs-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

/* ============================== FOOTER STYLES ================================*/
.last-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 80px;
}

.ls-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: white;
}

.ls-icon{
    width: 45px;
    height: 45px;
}

.ls-icon:hover{
    cursor: pointer;
    color: var(--color-blue);
}

/* ============================== MEDIA QUERIES ================================*/
@media (max-width: 980px) {
    .second-section{
        width: 800px;
    }  

    .fhs-item{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 700px;
    }

    .item-d2{
        margin-top: 15px;
        width: 700px;
        align-items: center;
    }

    .item-text{
        padding-left: 30px;
        width: 450px;
    }

    .ffs-item{
        width: 700px;
    }
}

@media (max-width: 860px) {
    .second-section{
        width: 600px;
    }

    .third-section,
    .fourth-section,
    .fifth-section,
    .sixth-section{
        width: 700px;
    }
}

@media (max-width: 750px) {
    .fhs-item{
        width: 500px;
    }

    .item-d2{
        width: 500px;
    }

    .item-text{
        width: 400px;
    }

    .fifth-section{
        padding: 0;
        width: 500px;
    }

    .ffs-item{
        width: 500px;
    }
}

@media (max-width: 610px) {
    .second-section{
        width: 470px;
        padding: 0;
    }

    .third-section{
        width: 380px;
    }
    .ts-list{
        flex-wrap: wrap;
    }

    .fourth-section{
        width: 500px;
    }
    .fhs-item{
        width: 430px;
    }
    .item-text{
        padding-left: 25px;
        width: 390px;
    }

    .sixth-section{
        width: 470px;
    }
}

@media (max-width: 520px) {
    .first-section{
        flex-direction: column;
    }
    .fs-img-div{
        width: 400px;
    }
    .fs-img{
        width: 170px;
        height: 170px;
        margin: 0 auto;
    }
    .fs-info{
        width: 400px;
    }
    .fs-title,
    .fs-subtitle,
    .fs-info p{
        text-align: center;
    }
    .fs-contact{
        justify-content: center;
    }

    .second-section{
        width: 375px;
    }

    .third-section{
        width: 300px;
    }

    .fourth-section{
        width: 400px;
        padding: 0;
    }
    .fhs-item{
        width: 400px;
    }
    .item-text{
        width: 325px;
        padding-left: 10px;
    }

    .fifth-section{
        width: 400px;
    }
    .ffs-item{
        width: 360px;
    }

    .sixth-section{
        width: 370px;
    }
}

@media (max-width: 415px) {
    .fourth-section{
        width: 350px;
        padding: 0;
    }
    .fhs-item{
        width: 350px;
    }
    .item-text{
        width: 310px;
        padding-left: 5px;
    }

    .sixth-section{
        width: 350px;
    }
}